/* Blue and Orange:

Primary Color: #007BFF (Blue)
Secondary Color: #FF6C00 (Orange)
Accent Color: #FFFFFF (White)

Background:   
background-color: #edf6ff;
background-color: #004fa4;
  color: #004692;

background-color: #ff8024;
  background-color: #ff8a37;
  color: #f8f9fa;

color: #212529;


Green and Grey:

Primary Color: #34C759 (Green)
Secondary Color: #8E8E93 (Grey)
Accent Color: #000000 (Black)
Purple and Pink:

Primary Color: #8338EC (Purple)
Secondary Color: #FF2E63 (Pink)
Accent Color: #FFFFFF (White) */
